
/* Menu Bar https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500*/
#menu {
    width: 75%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#menu a {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #FB8500;
    border: #219EBC 1px solid;
    border-radius:  30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

/* Body  */

.carousel-inner {
    width: 50%;
    height: 50%;
    margin: auto;
    
}

body {
    background-color: #023047;
}

.homeBody {
    padding-top: 50px;
    text-align: center;
}

.homeBody > *  {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

#reviews {
    margin-left: 25%;

    
}

#picHeader {
    margin: auto;
    width: 50%;

    padding: 20px;
}

#footer {
    margin-top: 5%;
    text-align: center;
    color: white;
}

body {
    color: #FB8500;
}
#map, .offers {

    margin-left: 25%;
    margin-right: 25%;
}

#camera {
    transition: transform .2s ease-in-out;
}

#camera:hover {
    transform: translate(90%);
}

.Terms {
    margin-left: 25%;
}

#scrollbox {
    width: 900px;
    height: 300px;
    overflow: auto;
}

.pricecard {
    display: flex;
    justify-content: space-evenly;
    margin: 10%;

}

.pricecard div {
    border: 1px #219ebc solid;
    background-color: rgb(242, 230, 223);
    width: 20%;
}

.pricecard * {
    list-style-type: none;
    margin: 1px;
    padding: 0;
}

.pricing, .jumbotron  {
    margin: auto;
    width: 50%;
    margin-top: 10%;
}